.tokiwa {
  color: #1f9967;
}

.moegi {
  color: #1a8065;
}

.nando {
  color: #249dab;
}

.rokushou {
  color: #3d9960;
}

.hanada {
  color: #3d9ccc;
}

.tsuyukusa {
  color: #4dc7ff;
}

.seiji {
  color: #73e6c9;
}

.shinbahi {
  color: #5ee0eb;
}

.konjou {
  color: #143b66;
}

.tetsukon {
  color: #0f1c4d;
}
