.functional-programming {
  color: #5d4f82;
}

.rest-api {
  color: #86c302;
}

.system-design {
  color: #f099d7;
}

.cloud {
  color: #c2a9d2;
}

.git {
  color: #e84c33;
}

.algorithms-and-data-structures {
  color: #879fd3;
}

.software-engineering {
  color: #f7c33c;
}

.text-game-development {
  color: #4588b9;
}

.go {
  color: #00acd7;
}

.python {
  color: #3974a5;
}

.django {
  color: #10583f;
}

.javascript {
  color: #ccb207;
}
